@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.App{
  font-family: 'Roboto Slab', serif;
  letter-spacing: .45px; 
  background-color: #1F1F1F;
  min-height: 100vh;
}

.body{
  min-height: 100vh;
}

.AlignCenter{
  margin: 0 auto;
}

/* .Map .col-lg-9 .col-md-9 .col-sm-12 .col-12{
  padding-right: 0px;
} */

.leaflet-container{
  width: 100%;
  height: 80vh;
}

.BoxShadow{
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.form{
  margin: 9px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.LogInSignUp{
  background-image: url("./images/skateboard.png");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
}

nav.BoxShadow.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  margin-bottom: 0px !important;
}

.red-text{
  color: red;
}

a.NavLinks.nav-link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-right: 12px;
  background-color: #FFE485;
  border-radius: 8px;
  text-align: center;
  margin-left: 12px;
}

a.NavLinks.nav-link:hover {
  background-color: #ED5145;
  border-radius: 8px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}